.header{
    margin-top: 60px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.headerTitleSm{
    font-family: 'Jost', sans-serif;
    position: absolute;
    top: 18%;
    font-size: 20px;
    
}

.headerTitleLg{
    font-family: 'Handlee', cursive;
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.headerImg{
    width: 100%;
    height: 900px;
    object-fit: cover;
}